.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%; 
    left: 50%;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.79); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
    flex-direction: column;
}

.loader picture img {
    animation: vibrate 0.6s linear infinite; 
    width: 100px;
    height: auto;
}

.loader-text {
    margin-top: 20px;
    color: var(--color-text); 
    font-size: 24px; 
    display: flex;
    gap: 2px; 
}

.letter {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes vibrate {
    0% {
        transform: translateX(0); /* Empieza en su posición inicial */
    }
    20% {
        transform: translateX(-5px); /* Desplazamiento hacia la izquierda */
    }
    40% {
        transform: translateX(5px);  /* Desplazamiento hacia la derecha */
    }
    60% {
        transform: translateX(-5px); /* Regresa a la izquierda */
    }
    80% {
        transform: translateX(5px);  /* Regresa a la derecha */
    }
    100% {
        transform: translateX(0); /* Termina en la posición inicial */
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}