.category-list-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.category-btn {
  background: transparent;
  min-width: 125px;
  max-width: fit-content;
  padding: 15px 20px;
  outline-color: transparent;
  border: none;
  border-radius: 10px;
  color: var(--color-text);
  -webkit-box-shadow: 0px 0px 9px 1px var(--fucsia-variant);
  -moz-box-shadow: 0px 0px 9px 1px var(--fucsia-variant);
  box-shadow: 0px 0px 9px 1px var(--fucsia-variant);
  transition: all 0.3s ease;
  font-family: var(--font-family-content);
  font-size: var(--font-size-content);
}

.category-btn:hover {
  background-color: var(--fucsia-variant);
  transform: translateY(-10px);
}
