.accordion-item-container {
  width: 100%;
  height: auto;
}

.accordion-item-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-bg);
}

.accordion-item-title span {
  color: var(--color-bg)
}

.accordion-item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.accordion-item-content > * {
  font-family: var(--font-family-content);
  font-size: var(--font-size-content);
}

.accordion-arrow {
  transform: rotate(0deg);
  height: 20px;
    width: 20px;
    transition: all ease 0.3s;
}

.accordion-item-container.open .accordion-item-title span {
  color: var(--pink)
  
}

.accordion-item-container.open .accordion-arrow {
  transform: rotate(90deg);
}

.accordion-item-container.open .accordion-item-content {
  max-height: 100vh;
  padding:10px;
}

