.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.about-img {
    width: 100%;
    max-width: 280px;
    height: auto;
    margin-bottom: 30px;
}

.about-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain; /* Esto mantiene la proporción de la imagen */
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 750px;
}

.about-content p {
    padding: 0;
    margin: 0;
}



@media (min-width: 768px) {
    .about-container {
        padding-top: 30px;
    }
    
    .about-img {
        max-width: 390px;
    }
}

@media (min-width: 1024px) {
    .about-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .about-img {
        max-width: 500px;
        margin-bottom: 0;
    }
    
    .about-content {
        flex: 1;
    }
}