#navbar {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu-button {
  padding: 0;
}

.logo-container.open-menu {
  position: relative;
  top: 18svh;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 0;
}

.nav-logo {
  width: 100%;
  height: auto;
}

.menu-list li {
  padding: 15px;
  list-style-type: none;
}

.menu-list li:hover {
  background-color: var(--fucsia-transparent);
  transition: all ease 0.3s;
}

/*+TABLET */

@media (min-width: 768px ) {
  .burger-menu {
    display: none;
  }

  .menu-list {
    flex-direction: row;

  }
}