/*
Declaración de fuente:
*/

@font-face {
  font-family: 'Aboreto';
  src: url('./assets/fonts/aboreto/Aboreto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}


#root {
  --color-bg: #0f0e17;            /* Fondo principal oscuro */
  --color-primary: #ff006f;       /* Rosa fucsia (acento sexy) */
  --color-secondary: #ffb6c1;     /* Rosa claro (resaltados suaves) */
  --color-text: #ffffff;          /* Texto principal */
  --color-subtext: #bfbfbf;       /* Texto secundario */
  --color-highlight: #7f00ff;     /* Acento opcional: violeta */
  --font-family-heading: 'Aboreto';  /*Fuente para títulos*/
  --font-family-content: 'Roboto'   /*Fuente para todo el texto*/
}

h1 {
  font-family: 'Aboreto';
  font-weight: 400;
}

.test-roboto {
  font-family: 'Roboto';
  font-weight: 400;
}

.test-roboto-bold {
  font-family: 'Roboto';
  font-weight: 600;
}

.test-roboto-italic {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
}
