/*
Declaración de fuente:
*/

@font-face {
  font-family: 'Aboreto';
  src: url('./assets/fonts/aboreto/Aboreto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}


:root {
  --color-bg: #000000;            /* Fondo principal oscuro */
  --fucsia-transparent:  rgba(255, 0, 111, 0.25)   ;
  --fucsia-variant: rgba(255, 0, 111, 0.2);
  --color-text: #ffffff;          /* Texto principal */
  --color-content: #bfbfbf;       /* Texto secundario */
  --font-family-text: 'Aboreto';  /*Fuente para títulos y navbar*/
  --font-family-content: 'Roboto';   /*Fuente para todo el resto del texto*/
  --font-size-text: clamp(1.875rem, 1.7434rem + 0.6579vw, 2.8125rem); 
  --font-size-subtext: clamp(1.5625rem, 1.4309rem + 0.6579vw, 2.5rem); 
  --font-size-h3:  clamp(1.125rem, 1.1075rem + 0.0877vw, 1.25rem);
  --font-size-content: clamp(1rem, 0.9825rem + 0.0877vw, 1.125rem); 
  --font-size-link: clamp(1.125rem, 1.1075rem + 0.0877vw, 1.25rem); 

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--color-bg);
}

h1 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  color: var(--color-text);
  font-weight: 400;
}

h2 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-subtext);
  color: var(--color-text);
}

h3 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-h3);
  color: var(--color-text);
}

p {
  font-family: var(--font-family-content);
  font-size: var(--font-size-content);
  color: var(--color-content);
}

span {
  font-family: var(--font-family-content);
  font-size: var(--font-size-link);
  color: var(--color-content);
}


a {
  font-family: var(--font-family-text);
  font-size: var(--font-size-link);
  color: var(--color-content);
  text-decoration: none;
}

button img {
  height: 40px;
  width: 40px;
}

.icon {
  height: 40px;
  width: 40px;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-size {
  width: 100%;
  height: auto;
}

.section {
  padding: 50px 10px;
}

/*TABLET*/
@media (min-width: 768px ) {
  .section {
    padding: 50px 36px;
  }
}

/*DESKTOP*/
@media (min-width: 1440px ) {
  .section {
    padding: 70px 50px;
  }
}
